<footer class="border-top footer text-muted mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 proctos. Все права защищены.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p><a href="/Home/Privacy">Политика конфиденциальности</a></p>
                <p><a href="/Home/Contacts">Контакты</a></p>
            </div>
        </div>
    </div>
</footer>
